.project_select_container {
    margin-top: 24px;
  }
  
  .projects_title {
    color: #7a7c84;
  }
  
  .projects_select {
    display: flex;
    
    align-items: center;
    
    background-color: #181546;

    border-radius: 10px;
    height: 50px;
    padding-left: 24px;
  }
  
  .project_title {
    font-size: 24px;
    
  }

  .projects_select_modal {
    background-color: #11101f;
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
    height: 150px;
    overflow-y: scroll;
  }

  .project_color {
    width: 24px;
  height: 24px;
  border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  font-size: 1rem;
  margin-right: 1rem;
  }
  
  .category_create_modal {
    position: absolute;
    height: 50vh;
    width: 80vw;
    background-color: #11101f;
    top: 2rem;
    border-radius: 20px;
    left: 10vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    z-index: 2;
  }

  .backdrop {
    position: absolute;
    z-index: 1;
    height: 50vh;
    width: 100vw;
    background-color: #000000;
    left: 0;
    top:0;
    border-radius: 30px 30px 0 0;
    opacity: 0.5;
  }


  .category_create_modal input {
    margin-bottom: 2rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    caret-color: blue;
    color: #fff;
  }

  .project_item_select_container {
    display: flex;
    background-color: #181546;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    margin-top: 5px;
    
  }

  .project_item_select_container i {
    font-size: 1rem;
  }

  .project_item_select_container p {
    margin: 0;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #addNew{
    margin-top: .5rem;
  }

  